<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SecurityAutSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="SecurityAutSoap1" />
                <binding name="BancoServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="BancoServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44389/Operaciones/SecurityAut.asmx"
                binding="basicHttpBinding" bindingConfiguration="SecurityAutSoap"
                contract="Autenticar.SecurityAutSoap" name="SecurityAutSoap" />
            <endpoint address="https://localhost:44318/Service/BancoService.asmx"
                binding="basicHttpBinding" bindingConfiguration="BancoServiceSoap"
                contract="ServicioBancario.BancoServiceSoap" name="BancoServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>